{% include '_header.twig' %}


<div data-role="page" id="home">

    <div data-role="header" data-theme="b">
        <h1>Zakwoordenboekje</h1>
    </div><!-- /header -->

    <div data-role="content" >

        <p><a href="#groepenlijst" data-role="button" data-icon="arrow-r" data-iconpos="right">Woordenboek</a></p>

        <div>
            <h2>Vind:</h2>
            <input type="text" id="searchbox" />
        </div>

        <div style="margin-top: 24px; margin-bottom: 40px;">
            <ul id="searchresults" data-role="listview" > </ul>
        </div>


        <p>
            <a href="#group-algemeen" data-role="button" data-icon="arrow-r" data-iconpos="right">Handige zinnen</a>
        </p>

        <div data-role="controlgroup" data-type="horizontal">
            <a href="#disclaimer" data-role="button" data-mini="true">Disclaimer</a>
            <a href="#colofon" data-role="button" data-mini="true">Colofon</a>
        </div>

    </div><!-- /content -->

    <div data-role="footer" data-theme="d" data-position="fixed">
        <p>Deze app bevat gesponsorde onderdelen</p>
    </div><!-- /footer -->
        
</div>



<div data-role="page" id="groepenlijst">

    <div data-role="header" data-theme="b">
        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
        <h1>Woordenboek</h1>
    </div><!-- /header -->

    <div data-role="content">
        <h2>Woordenboek</h2>


    <ul data-role="listview">
{% for key,group in groups %}
        <li><a href="#group-{{key}}">{{group}}</a></li>
{% endfor %}
    </ul>

    </div><!-- /content -->


</div>



<div data-role="page" id="colofon">

    <div data-role="header" data-theme="b">
        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
        <h1>Colofon</h1>
    </div><!-- /header -->

    <div data-role="content">
    <h2>Colofon</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id fugiunt, re
        eadem defendunt, quae Peripatetici, verba. Haec quo modo conveniant, non sane
        intellego. Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti,
        pressius. Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus
        exordium. Nulla profecto est, quin suam vim retineat a primo ad extremum. Summum
        enim bonum exposuit vacuitatem doloris; Duo Reges: constructio interrete. Ita
        relinquet duas, de quibus etiam atque etiam consideret. </p>
        
        <ol>
            <li>Illa videamus, quae a te de amicitia dicta sunt.</li>
            <li>Cur igitur, inquam, res tam dissimiles eodem nomine
            appellas?</li> <li>Sin dicit obscurari quaedam nec apparere,
            quia valde parva sint, nos quoque concedimus;</li> <li>Quae in
            controversiam veniunt, de iis, si placet, disseramus.</li>
            <li>Miserum hominem! Si dolor summum malum est, dici aliter non
            potest.</li>
        </ol>
        
        
        <p>Huius ego nunc auctoritatem sequens idem faciam. Erat enim Polemonis. <a
        href='http://loripsum.net/' target='_blank'>Ut aliquid scire se gaudeant?</a>
        Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q. Quamquam tu
        hanc copiosiorem etiam soles dicere. Nunc ita separantur, ut disiuncta sint, quo
        nihil potest esse perversius. Utram tandem linguam nescio? Primum in nostrane
        potestate est, quid meminerimus? <i>Praeclarae mortes sunt imperatoriae;</i> Ut
        aliquid scire se gaudeant? <b>Inde igitur, inquit, ordiendum est.</b> Non est
        igitur voluptas bonum. </p>
        
        <ul>
            <li>Ait enim se, si uratur, Quam hoc suave! dicturum.</li>
            <li>Nondum autem explanatum satis, erat, quid maxime natura
            vellet.</li> <li>Ampulla enim sit necne sit, quis non iure
            optimo irrideatur, si laboret?</li> <li>Deinde prima illa, quae
            in congressu solemus: Quid tu, inquit, huc?</li> <li>Si est
            nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris,
            pulchritudo, cetera.</li>
        </ul>
        
        
        <p>Et hunc idem dico, inquieta sed ad virtutes et ad vitia nihil interesse. Quae
        autem natura suae primae institutionis oblita est? Et certamen honestum et
        disputatio splendida! omnis est enim de virtutis dignitate contentio. Quamquam
        id quidem licebit iis existimare, qui legerint. </p>
        
        <p>Quae iam oratio non a philosopho aliquo, sed a censore opprimenda est.
        Innumerabilia dici possunt in hanc sententiam, sed non necesse est. <a
        href='http://loripsum.net/' target='_blank'>Recte, inquit, intellegis.</a> Sed
        nunc, quod agimus; <b>Negare non possum.</b> Non potes, nisi retexueris illa.
        </p>
        
        <p>Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? Sed
        id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. <a
        href='http://loripsum.net/' target='_blank'>Istic sum, inquit.</a> Quid enim
        necesse est, tamquam meretricem in matronarum coetum, sic voluptatem in virtutum
        concilium adducere? Nihil opus est exemplis hoc facere longius. </p>


    
    </div><!-- /content -->


</div>


<div data-role="page" id="disclaimer">

    <div data-role="header" data-theme="b">
        <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
        <h1>Disclaimer</h1>
    </div><!-- /header -->

    <div data-role="content">
        <h2>Disclaimer</h2>

        <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. <a href='http://loripsum.net/'
        target='_blank'>Nos commodius agimus.</a> Solum
        praeterea formosum, solum liberum, solum civem,
        stultost; Praeteritis, inquit, gaudeo. Sic, et
        quidem diligentius saepiusque ista loquemur
        inter nos agemusque communiter. Vide, quantum,
        inquam, fallare, Torquate. Quae sequuntur
        igitur? Fortasse id optimum, sed ubi illud: Plus
        semper voluptatis? </p>

        <p>Claudii libidini, qui tum erat summo ne
        imperio, dederetur. Ille vero, si insipiens-quo
        certe, quoniam tyrannus -, numquam beatus; Istam
        voluptatem perpetuam quis potest praestare
        sapienti? Vos autem cum perspicuis dubia
        debeatis illustrare, dubiis perspicua conamini
        tollere. </p>

        <ol>
            <li>Nec enim, dum metuit, iustus
            est, et certe, si metuere
            destiterit, non erit;</li>
            <li>Quam tu ponis in verbis, ego
            positam in re putabam.</li>
            <li>Sed erat aequius Triarium
            aliquid de dissensione nostra
            iudicare.</li> <li>Sed tamen
            intellego quid velit.</li>
        </ol>


        <p>Quo modo autem optimum, si bonum praeterea
        nullum est? Ergo in gubernando nihil, in officio
        plurimum interest, quo in genere peccetur.
        Videamus igitur sententias eorum, tum ad verba
        redeamus. Non igitur potestis voluptate omnia
        dirigentes aut tueri aut retinere virtutem.
        <mark>Dicimus aliquem hilare vivere;</mark>
        <mark>Audeo dicere, inquit.</mark> <a
        href='http://loripsum.net/' target='_blank'>Cur
        id non ita fit?</a> <mark>Numquam facies.</mark>
        </p>

        <p><b>Duo Reges: constructio interrete.</b> Quid
        in isto egregio tuo officio et tanta fide-sic
        enim existimo-ad corpus refers? Sin tantum modo
        ad indicia veteris memoriae cognoscenda,
        curiosorum. Quaesita enim virtus est, non quae
        relinqueret naturam, sed quae tueretur. Quid
        est, quod ab ea absolvi et perfici debeat? Ergo
        in utroque exercebantur, eaque disciplina
        effecit tantam illorum utroque in genere dicendi
        copiam. Hoc loco discipulos quaerere videtur,
        ut, qui asoti esse velint, philosophi ante
        fiant. <a href='http://loripsum.net/'
        target='_blank'>Efficiens dici potest.</a> </p>

        <ul>
            <li>In eo autem voluptas omnium
            Latine loquentium more ponitur,
            cum percipitur ea, quae sensum
            aliquem moveat, iucunditas.</li>
            <li>Eorum enim omnium multa
            praetermittentium, dum eligant
            aliquid, quod sequantur, quasi
            curta sententia;</li> <li>Beatus
            sibi videtur esse moriens.</li>
            <li>Isto modo, ne si avia quidem
            eius nata non esset.</li>
        </ul>


        <p>Quid igitur, inquit, eos responsuros putas?
        Quamquam tu hanc copiosiorem etiam soles dicere.
        <mark>Cyrenaici quidem non recusant;</mark> Sed
        tu istuc dixti bene Latine, parum plane. Immo
        videri fortasse. Aliena dixit in physicis nec ea
        ipsa, quae tibi probarentur; </p>

    </div><!-- /content -->


</div>


{% for key,group in groups %}

<div data-role="page" id="group-{{key}}">

<div data-role="header" data-theme="b">
    <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
    <h1>{{group}}</h1>
</div><!-- /header -->

    <div data-role="content">
        <h2>{{group}}</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Beatus autem esse in
        maximarum rerum timore nemo potest. Multa sunt dicta ab antiquis de contemnendis
        ac despiciendis rebus humanis. </p>
        
        <dl>
{% for word in words %}{% if word.groupname == group %}
            <span id='word-{{word.id}}'>
                <dt><dfn>{{ word.nl }}</dfn></dt>
                <dd>{{ word.fr }}</dd>
            </span>
{% endif %}{% endfor %}
        </dl>
        
    </div>

</div>


{% endfor %}

{% include '_footer.twig' %}